.gowun-dodum-regular {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12px;
  }

  .colour1 {
    background-color: #470d57;
  }

  .colour2{
    background-color: #fd892d;
  }


  .colour3{
    background-color: #ffd379;
  }


  .colour4{
    background-color: #fcf1dd;
  }

